@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
body{
    font-family: 'Roboto', sans-serif;
}
.welcome-header{
    margin:80px 0px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title{
    margin-bottom: 27px;
    font-size: 23px;
    font-weight: bold;
}
.welcome-header__text,.welcome-header__text2{
 width : 70%;
 opacity: 0.4;
}
.welcome-header__text{
    margin-bottom: 3px;
}
#Login-form{
   display: flex;
   flex-direction: column;
   margin: 0px 30px;
}
#Login-form input{
    border: none;
    padding:17px 0px;
    font-size: 17px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    transition: border-color 0.4s ease-in-out;
}
#Login-form input:nth-child(3){
    margin-top: 32px;
    padding: 13px;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.7;
    color:rgba(0,0,0,0.9);
    border-radius: 8px;
}
#Login-form button{
    margin-top: 12px;
    padding: 17px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: rgba(0,0,0,0.3);
    border-radius: 8px;
    padding: 13px;
    opacity: 0.7;
    color:rgba(0,0,0,0.9);
}
#Login-form input::placeholder{
   color:rgba(0,0,0,0.3);
   font-weight: bold;
   font-size: 16px;
}
#Login-form input:focus{
    border-color: var(--yellow);
}

#Login-form a{
    display: flex;
 justify-content: center;
 margin-top: 20px;
 font-size: 13px;
 color:rgba(0,0,0,0.6);
 font-weight: bold;
}