@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "reset.css";
@import "variables.css";

/* Component */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body{
    font-family: 'Roboto', sans-serif;
    color:#42464A;
}
.main-screen{
    padding: 0px var(--horizontal-space);
}