.user-component__subtitle {
    margin-right: 100px;
}
.user-component__text i{
    color:red;
    margin-left: 5px;
}
.more-screen .icon-row{
    margin-top: 35px;
    margin-left: 18px;
    margin-right: 15px;
}
.icon-row2__right{
    display: block;
    
}
.suggestions{
    border-top: var(--main-border);
    margin-top: 40px;
    padding-top: 35px;
}
.suggestions-header{
    font-size: 18px;
    font-weight: bold;
}
.suggestions-main