.settings__setting{
    padding: 23px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 23px;
    font-weight: 580;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i{
    margin-right: 20px;
    font-size: 25px;
    opacity: 0.8;
}
.settings__setting span{
    margin-left: 10px;
}
.settings__setting-column:last-child{
    opacity: 0.6;
}
.settings__setting-column{
    display: flex;
    align-items: center;
}
.settings__setting-column:nth-child(6) span{
    margin-left: -10px;
}
.settings__setting-column i{
    margin-right: 10px;
    font-size:25px;
    width: 30px;
}
.new-badge{
    margin-left: 10px;
}