.settings__setting{
    padding: 28px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 23px;
    font-weight: 580;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i{
    margin-right: 20px;
    font-size: 25px;
    opacity: 0.8;
}
.settings__setting-column:last-child{
    opacity: 0.6;
}