
.status-bar {
    display:flex;
    justify-content: center;
    padding: 5px 3px;
    box-sizing: border-box;
    position: fixed;
    top:0px;
    width: 100%;
}
.status-bar__column{
    width: 33%;
    font-weight:bold;
    font-size: 17px;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
    font-weight:bold;
}
.status-bar__column:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column:first-child span{
    margin-right: 5px;
    font-weight:bold;
}
.status-bar__column .fa-battery-full{
 margin: 0px 5px;
}
